.afterStarter{
    background-image: url(../../../assets//menuPage-afterStarter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}