.afterWhiteWine{
    background-image: url(../../../assets/wineListPage-afterWhiteWinePic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}
